<div class="background-container bg-white flex items-center justify-center min-h-screen">
  <div class="container flex flex-col justify-center items-center p-8 w-full">
    @if (errorMessage()) {
      <div class="error-message">
        {{ errorMessage() }}
      </div>
    }

    @if (rateLimitMessage()) {
      <div class="rate-limit-message bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4 mb-4 rounded shadow-sm">
        <div class="flex items-center">
          <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd"/>
          </svg>
          <span>{{ rateLimitMessage() }}</span>
        </div>
      </div>
    }

    @switch (viewState()) {
      @case ('upload') {
        <app-file-upload (fileSelected)="onFileSelected($event)" />
      }
      @case ('loading') {
        <div class="loading-container">
          <mat-spinner></mat-spinner>
          <p class="loading-text">Processing your anime list...</p>
        </div>
      }
      @case ('comparing') {
        @if (leftAnime() && rightAnime()) {
          <app-anime-comparison
            [leftAnime]="leftAnime()!"
            [rightAnime]="rightAnime()!"
            [progress]="progress()"
            [comparisonsDone]="comparisonState().comparisonsDone"
            [totalComparisons]="comparisonState().totalComparisons"
            (animeSelected)="onAnimeSelected($event)"
            (comparisonSkipped)="onComparisonSkipped()"
          />
        }
      }
      @case ('results') {
        <app-ranking-results
          [rankedAnime]="rankedAnime()"
          (exportRequested)="onExport()"
          (resetRequested)="onReset()"
        />
      }
    }
  </div>
</div>
