@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// fixes tailwindcss issue with preflight and mat inputs
.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field
  .mdc-notched-outline__notch {
  border-right-style: hidden;
}

// Fix tooltip background transparency issue caused by Tailwind
.mat-mdc-tooltip {
  --mdc-plain-tooltip-container-color: grey !important;
  --mdc-plain-tooltip-supporting-text-color: #ffffff !important;
  background-color: grey !important;
  color: #ffffff !important;
  opacity: 1 !important;
}

.mat-mdc-tooltip .mdc-tooltip__surface {
  background-color: grey !important;
  color: #ffffff !important;
}
